<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form id="add" action="/" method="post">
        <input id="City" type="text" name="City" placeholder="CITY" ><br>
        <input id="Country" type="text" name="Country" placeholder="COUNTRY" ><br>
        <input id="PhoneCode" type="text" name="PhoneCode" placeholder="PHONECODE" ><br>
        <input id="Capital" type="text" name="Capital" placeholder="CAPITAL" ><br>
        <input id="Population" type="text" name="Population" placeholder="POPULATION" ><br>
        <button id="add-worldmap" type="submit">Доавить</button><br>
    </form>


    <div>
        <a id="getAll" href="/getAll">Список всех объектов</a>
        <a id="write" href="/write">Запись в файл</a>
        <a id="read" href="/read">Чтение из файла</a>
        <a id="info" href="/info">Информация</a>
        <a id="remove" href="/remove">Удаление по ID</a>
    </div>





</body>
</html>